h2 {
  text-align: center;
}

.size {
  display: inline;
}

.square {
  background-color: #ffffff;
  border: 1px solid #000000;
}

.container {
  margin-left: 30%;
  width: 400px;
  height: 400px;
  font-size: 0;
}

.row {
  padding: none;
  margin: none;
  border: none;
}

.row div {
  display: inline-block;
}

.hover {
  background-color: #ff0000
}

button {
  margin-left: 40%;
  margin-bottom: 5px;
}