h2 {
  text-align: center;
}

.size {
  display: inline;
}

.square {
  background-color: #ffffff;
  border: 1px solid #000000;
}

.container {
  margin-left: 30%;
  width: 500px;
  height: 500px;
}

.row {
  padding: none;
  margin: none;
}

.row div {
  display: inline-block;
}

.hover {
  background-color: #ff0000
}